.horizental-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .horizental-list li {
    margin-right: 30px;
  }

  .hire-container {
    background-color: blueviolet;
    padding: 30px;
    border-radius: 4em;
  }
  